if ROCKCHIP_RK3588

config TARGET_EVB_RK3588
	bool "EVB_RK3588"
	select BOARD_LATE_INIT
	help
	  RK3588 EVB is a evaluation board for Rockchp RK3588.

config TARGET_NANOPI6
	bool "FriendlyElec NanoPi 6 Series"
	select BOARD_LATE_INIT
	select VENDOR_FRIENDLYELEC
	help
	  Support for FriendlyElec boards based on RK3588.

config SYS_SOC
	default "rockchip"

config SYS_MALLOC_F_LEN
	default 0x400

source board/rockchip/evb_rk3588/Kconfig
source board/rockchip/nanopi6/Kconfig

endif
