CONFIG_BASE_DEFCONFIG="rk3588_defconfig"
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_DEFAULT_DEVICE_TREE="rk3588-evb-tb"
CONFIG_OF_LIST="rk3588-evb-tb"
CONFIG_SPL_ADC_SUPPORT=y
CONFIG_SPL_INPUT=y
CONFIG_SPL_KERNEL_BOOT=y
# CONFIG_SPL_KERNEL_BOOT_PREBUILT is not set
# CONFIG_TPL is not set
# CONFIG_ROCKCHIP_META is not set
CONFIG_SPL_ADC_KEY=y
# CONFIG_SPL_CROS_EC_KYB is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
# CONFIG_SPL_GZIP is not set
CONFIG_ROCKCHIP_EMMC_IOMUX=y
CONFIG_SPL_ATF_NO_PLATFORM_PARAM=y
