CONFIG_BASE_DEFCONFIG="rv1126b-spi-nand-fastboot_defconfig"
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_BOOTI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_ENV_EXISTS is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_EXT2 is not set
# CONFIG_CMD_EXT4 is not set
# CONFIG_CMD_FAT is not set
# CONFIG_CMD_FS_GENERIC is not set
# CONFIG_CMD_GPIO is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_MII is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_PART is not set
# CONFIG_CMD_PING is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_SF is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_DISTRO_DEFAULTS is not set
# CONFIG_DOS_PARTITION is not set
CONFIG_ENVF_LIST="blkdevparts mtdparts sys_bootargs app reserved"
# CONFIG_FS_FAT is not set
CONFIG_LOADER_INI="RV1126BMINIALL_IPC_TB.ini"
# CONFIG_LZ4 is not set
# CONFIG_NET is not set
# CONFIG_REGEX is not set
CONFIG_ROCKCHIP_META=y
# CONFIG_ROCKCHIP_SET_ETHADDR is not set
# CONFIG_ROCKCHIP_SET_SN is not set
CONFIG_SPL_FIT_IMAGE_KB=320
# CONFIG_SPL_GPIO_SUPPORT is not set
# CONFIG_SPL_GZIP is not set
# CONFIG_SPL_LZMA is not set
# CONFIG_SPL_PMIC_CHILDREN is not set
CONFIG_TRUST_INI="RV1126BTRUST_TB.ini"
